@tailwind base;
@tailwind components;
@tailwind utilities;

[class^="text-h-"] {
  @apply font-semibold uppercase;
}

body {
  background: linear-gradient(in oklab, #2e131a, #070c12);
}

.cyberpunk {
  clip-path: polygon(
    0 0,
    100% 0,
    100% var(--cyberpunk-height, 70%),
    93% 100%,
    0 100%
  );
}

.epic-transition {
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

*:focus-visible,
*:focus-within,
*:focus {
  outline: none !important;
}

* {
  outline: none !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  -webkit-tap-highlight-color: transparent !important;
  cursor: default !important;
}

*::-webkit-scrollbar {
  background: transparent;
  display: none !important;
}

input,
textarea {
  background: inherit;
  color: inherit;
}
